<!-- <div>
    <div class="parallax"></div>
</div> -->

<div class="hero_image position-relative">
    <img src="/assets/img/hero.jpg" class="img-fluid fit-image" alt="concerts " />
    <!-- <div class="centered position-absolute fw-bold col-12 pb-0 justify-content-center"> -->
    <div class="centered position-absolute d-flex justify-content-center col-12 my-4 fw-bold">
        Ristorante Il Gambero Rosso
    </div>

    <!-- <div class="centered1 position-absolute fw-bold col-12 d-flex justify-content-center"> -->
    <div class="centered1 position-absolute d-flex justify-content-center col-12 my-5 fw-bold">
        Delivering great food for more than 18 years!
    </div>
    <div>
        <button type="button" class="btn btn-success col-12 justify-content-center d-flex centered_btn_menu position-absolute btn_menu">
      Our Menu
    </button>
        <button type="button" class="btn btn-success col-12 justify-content-center d-flex centered_btn_book position-absolute btn_book">
      Book a Table
    </button>
    </div>
</div>