<hero></hero>

<div class="container">
    <h1 class="d-flex justify-content-center col-12 my-5 fw-bold topic">
        Ristorante Il Gambero Rosso
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/img/home.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mt-lg-2 mt-sm-3 p-4">
                <p class="text-left fw-bold">
                    Sorbillo, via dei Tribunali e Residenza Madre
                </p>
                <p>
                    Se volete respirare la Napoli più vera, quella di ieri e di oggi che mescola l'atmosfera locale alla domensine internazionale, prendetevi del tempo per andare a piedi dalla stazione di Napoli Centrale a Via dei tribunali. Tra gli scorci più celebri della
                    città sentirete parlare i turisti in ogni lingua, con il volto tuffato dentro le mappe del telefono nel tentativo di non perdersi tra le vie strette. Molti di questo cercano l’inizio (o meglio, la fine) della lunghissima coda che bisogna
                    affrontare per entrare nella storica pizzeria della famiglia Sorbillo: non si accettano prenotazioni, bisogna mettersi in coda e attendere il proprio turno. Proprio qui, negli anni novanta, Gino ha preso le redini dell’attività di
                    famiglia, dopo aver affiancato per anni zia Esterina così da apprendere i segreti della lievitazione e della lavorazione della pasta. È da questa strada che è iniziata tutta l’epopea della sua pizza.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Why choose us -->
<div class="container bg-light why">
    <div class="container">
        <h1 class="d-flex justify-content-center col-12 mt-5 fw-bold topic">
            <p class="text-left fw-bold">Why choose us</p>
        </h1>
        <p class="d-flex justify-content-center col-12 mt-1">
            si possono gustare piatti tipici e specialità di mare con pesce sempre fresco
        </p>
    </div>

    <div class="container d-flex">
        <div class="card text_about_box bg-light" style="width: 25rem">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">01</h6>
                <h5 class="card-title">La Nostra Cucina</h5>
                <p class="card-text">
                    La nostra cucina, semplice e contemporanea, affonda le sue radici nella tradizione.
                </p>
            </div>
        </div>

        <div class="card text_about_box bg-light" style="width: 25rem">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">02</h6>
                <h5 class="card-title">Il Personale Di Sala</h5>
                <p class="card-text">
                    potrete scoprire il menù da assaporare sulla splendida terrazza panoramica.
                </p>
            </div>
        </div>

        <div class="card text_about_box bg-light" style="width: 25rem">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">03</h6>
                <h5 class="card-title">LA Posizione</h5>
                <p class="card-text">
                    La nostra cucina, semplice e contemporanea, affonda le sue radici nella tradizione.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Check our specials -->
<div class="container">
    <div class="container">
        <h1 class="d-flex justify-content-center col-12 mt-5 fw-bold topic">
            <p class="text-left fw-bold">Check our specials</p>
        </h1>
        <p class="d-flex justify-content-center col-12 mt-1">
            Disco di pastra frolla con crema pasticcera aromatizzata al limone e meringa all’italiana
        </p>
    </div>

    <div class="container">
        <div class="d-flex">
            <div>
                <div class="card text_about_box py-1" style="width: 15rem">
                    <button type="button" class="btn btn-primary">
            Sformatino di cavolo nero,
          </button>
                </div>
                <div class="card text_about_box py-1" style="width: 15rem">
                    <button type="button" class="btn text-primary">
            Linguine con ricci di mare
          </button>
                </div>
                <div class="card text_about_box py-1" style="width: 15rem">
                    <button type="button" class="btn text-primary">Lemon curd</button>
                </div>
                <div class="card text_about_box py-1" style="width: 15rem">
                    <button type="button" class="btn text-primary">
            Oysters and sea urchins
          </button>
                </div>
                <div class="card text_about_box py-1" style="width: 15rem">
                    <button type="button" class="btn text-primary">Shrimp tartare</button>
                </div>
            </div>

            <div class="card text_about_box" style="width: 40rem">
                <div class="card-body">
                    <h5 class="card-title">IL PROFUMO DEL MARE</h5>
                    <p class="card-text">
                        La nostra cucina, semplice e contemporanea, affonda le sue radici nella tradizione. Ci ispiriamo al profumo del mare, ma ci piace cucinare anche piatti di carne e menù vegetariano per soddisfare le preferenze di ogni cliente. La cortesia e la competenza
                        dello staff di sala, coordinato da Fabio, vi accompagneranno alla scoperta del menu da assaporare nella splendida terrazza panoramica.
                    </p>
                </div>
            </div>

            <div class="card text_about_box" style="width: 25rem">
                <div class="card-body">
                    <div class="col-lg-6 col-md-12 mb-1 mb-md-0 about_image">
                        <img src="/assets/img/about-image.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block d-md-block" alt="restaurant" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>